<% if (mediator = @mediation&.mediator) %>
  <% mediator_name = [mediator.FName, mediator.LName].compact.join(" ").squeeze(" ").strip.presence || mediator.Email %>
  <p class="mediator-inline-details" data-mediator-card>
    <span class="mediator-inline-details__label">Name:</span>
    <span class="mediator-inline-details__value" data-mediator-name><%= mediator_name %></span>
  </p>
<% end %>