<h1>Landlord Mediation Messages</h1>
<p>Welcome, <%= @user.FName %>! This is the landlord messages/mediations page.</p>

<% if @show_mediation_view %>
    <p>This indicates a mediation is already in progress </p>
<% else %>
    <p>This indicates a no mediations currently exist and mediation needs to be created</p> 
<% end %>