<h1>Tenant Mediation/Messages</h1>
<p>Welcome, <%= @user.FName %>! This is the tenant messages/mediations page.</p>

<% if flash[:notice].present? %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert].present? %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>
<% if @show_mediation_view %>
  <% if @mediation.accepted_by_landlord %>
      <p>Mediation was accepted and is in progress.</p>
  <% else %>
      <p>Mediation requested. Waiting for the landlord to accept.</p>
  <% end %>
<% else %>
  <p>No mediations exist. Create a new mediation request below:</p>
  <%= render "mediations/tenant_create_mediation_form" %>
<% end %>
