<!DOCTYPE html>
<html>
  <body>
    <h1>You are invited to join the Mediation Platform</h1>

    <p>Hello,</p>

    <p>You have been invited by <%= @invited_by.FName %> to join the Mediation Platform as a landlord.</p>

    <p>Please click the link below to sign up:</p>

    <p>
      <a href="<%= @signup_url %>">Join Now</a>
    </p>

    <p>If the link does not work, please copy and paste the following URL into your browser:</p>

    <p><%= @signup_url %></p>

    <p>Thank you!</p>
  </body>
</html>
