<div class="documents-container">
  <h1>Landlord Documents</h1>
  <p>Welcome back, <%= @user.FName %>! Here you can view or download your submitted documents.</p>

  <% if @files.present? %>
    <table class="documents-table">
      <thead>
        <tr>
            <th>Documents</th>
            <th>View</th>
            <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <% @files.each do |file| %>
          <tr>
            <td><%= file.FileName %></td>
            <td><%= link_to "View", document_path(file.FileID), class: "view-link" %></td>
            <td><%= link_to "Download", download_file_path(file.FileID), class: "view-link" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <p class="documents-status">No documents available yet. </p>
  <% end %>
</div>
