<h1>Viewing Document: <%= @file.FileName %></h1>

<iframe src="<%= '/' + @file.FileURLPath %>"
        width="100%" height="800px">
    Your browser does not support iframes. <a href="<%= @file.FileURLPath %>">View Document</a>
</iframe>

<%= link_to "Back to Documents", documents_path, class: "btn btn-secondary" %>