<h1>Tenant documents</h1>
<p>Welcome, <%= @user.FName %>! This is the tenant documents page.</p>

<% if @files.any? %>
  <ul>
    <% @files.each do |file| %>
      <li>
        <%= link_to file.FileName, download_file_path(file.FileID), target: "_blank" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No documents available.</p>
<% end %>

<!-- link to generate a new file (currently a dead link), not sure if we want this long term as the generation of files is probably specific to landlord + tenant combinations of people -->
<%= link_to "Generate New File", generate_file_path, class: "btn btn-primary" %>


