<nav>
  <ul>
    <li><%= link_to "Home", landlord_dashboard_path %></li>
    <li><%= link_to "Mediations", mediations_path %></li>
    <li><%= link_to "Manage Accounts", admin_accounts_path %></li>
    <li><%= link_to "System Data", system_data_path %></li>
  </ul>
</nav>