<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/dashboard" title="Home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/mediations" title="Mediations"><i class="fas fa-scale-balanced"></i> Mediations</a></li>
        <li><a href="/admin_accounts" title="Manage Accounts"><i class="fas fa-users-gear"></i> Manage Accounts</a></li>
        <li><a href="/system_data" title="System Data"><i class="fas fa-database"></i> System Data</a></li>
    </ul>
</nav>