<nav class="navbar">
  <ul>
    <li><%= link_to "<i class='fa-solid fa-home'></i> Home".html_safe, dashboard_path %></li>
    <li><%= link_to "<i class='fa-solid fa-scale-balanced'></i> Mediations".html_safe, mediations_path %></li>
    <li><%= link_to "<i class='fa-solid fa-users-gear'></i> Manage Accounts".html_safe, admin_accounts_path %></li>
    <li><%= link_to "<i class='fa-solid fa-database'></i> System Data".html_safe, system_data_path %></li>
  </ul>
</nav>