<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/dashboard" title="Home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/third_party_mediations" title="Mediations"><i class="fas fa-scale-balanced"></i> Mediations</a></li>
        <li><a href="/documents" title="Documents"><i class="fas fa-file-alt"></i> Documents</a></li>
    </ul>
</nav>