<nav class="navbar">
  <ul>
    <li><%= link_to "<i class='fa-solid fa-home'></i> Home".html_safe, dashboard_path %></li>
    <li><%= link_to "<i class='fa-solid fa-scale-balanced'></i> Mediations".html_safe, third_party_mediations_path %></li>
    <li><%= link_to "<i class='fa-solid fa-file'></i> Documents".html_safe, documents_path %></li>
  </ul>
</nav>