<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/dashboard" title="Home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/third_party_mediations" title="Mediations"><i class="fas fa-scale-balanced"></i> Mediations</a></li>
        <%# No Need For this atm: <li><a href="/documents" title="Documents"><i class="fas fa-file-alt"></i> Documents</a></li> #%>
        <li class="logout-nav">
            <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout" %>
        </li>
    </ul>
</nav>