<nav class="navbar">
    <ul class="navbar-menu">
        <li><a href="/dashboard" title="Home"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/messages" title="Messages"><i class="fas fa-envelope"></i> Messages</a></li>
        <li><a href="/documents" title="Documents"><i class="fas fa-file-alt"></i> Documents</a></li>
        <li><a href="/resources" title="Resources"><i class="fas fa-book"></i> Resources</a></li>
        <li><a href="/account" title="Account"><i class="fas fa-user"></i> Account</a></li>
        <li class="logout-nav">
            <%= link_to "Log Out", logout_path, method: :delete, class: "logout-btn navbar-logout" %>
        </li>
    </ul>
</nav>