<!-- Table 1: Legal Resources -->
<div class="resources-legal">
    <h1><i></i> Legal Resources </h1>
    <table class ="resources-table">
        <tr>
            <th> 
                <a href="https://www.rentful614.com" target="_blank" rel="noopener noreferrer" class="resource-title">
                    Rentful614 <i class="fas fa-external-link-alt"></i>
            </th>
            <td> This is the Rentful614 page. </td>
        </tr>

        <tr>
            <th> 
                <a href="https://municipalcourt.franklincountyohio.gov/Departments-Services/Self-Help-Center" target="_blank" rel="noopener noreferrer" class="resource-title">
                    Self-Help Center <i class="fas fa-external-link-alt"></i>
            </th>
            <td> Visit the Self-Help Center for more support. </td>
        </tr>

        <tr>
            <th> <a class="resource-title"> 
                    Resource 3 <i class="fas fa-external-link-alt"></i>
            </th>
            <td> description </td>
        </tr>
    </table>
</div>

<!-- Table 2: Financial Aid Resources or smthg else we wanna put in later -->
<div class="resources-finaid">
    <h1><i></i> Financial Aid Resources </h1>
    <table class ="resources-table">
        <tr>
            <th> <a class="resource-title"> 
                    Financial Aid <i class="fas fa-external-link-alt"></i>
            </th>
            <td> description </td>
        </tr>

        <tr>
            <th> <a class="resource-title"> 
                    Resource 3 <i class="fas fa-external-link-alt"></i>
            </th>
            <td> description </td>
        </tr>

        <tr>
            <th> <a class="resource-title"> 
                    Resource 2 <i class="fas fa-external-link-alt"></i>
            </th>
            <td> description </td>
        </tr>

        <tr>
            <th> <a class="resource-title"> 
                    Resource 3 <i class="fas fa-external-link-alt"></i>
            </th>
            <td> description </td>
        </tr>
    </table>
</div>