.mediator-info {
    text-align: center;
}

.mediator-info h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  .mediator-info p {
    font-size: 1rem;
    color: black;
}

  .actions-container {
    width: 100%;
    min-width: 400px;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    overflow-y: auto;
    max-height: 60vh;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  
  /* Mediator Request Button */
  .mediator-action {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-wrap: break-word;
    min-height: 100px;
  }
  
  .mediation-status {
    width: 100%;
    padding: 15px;
    border: 1px solid #eee;
    background-color: #f0f4f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-height: 100%;
    overflow-y: auto;
  }
  
  .mediator-status {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    white-space: normal;
    overflow-wrap: break-word;
  }
  
  .status-message {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
  
  .action-description {
    font-size: 0.95rem;
    color: black;
    margin: 8px;
    white-space: normal;
    overflow-wrap: break-word;
  }

  /* Request mediator, generate file */
.action-btn {
  width: 250px;
  display: inline-block;
  padding: 12px 24px;
  margin: 10px 0;
  font-size: 0.95rem;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  background: #102a4d;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.action-btn:hover {
  background: #0056b3;
}

  /* End negotiation */
  .action-end-btn {
    width: 250px;
    display: inline-block;
    padding: 12px 24px;
    margin: 10px 0;
    font-size: 0.95rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .action-end-btn:hover {
    background: #b31b00;
  }
  
  /* Responsive layout */
  @media (max-width: 600px) {
    .mediator-single-column {
      padding: 16px;
    }
  
    .mediator-info h1 {
      font-size: 1.4rem;
    }
  
    .mediator-info p {
      font-size: 0.95rem;
    }

    .actions-container {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
        padding: 10px;
    }

    .action-btn,
    .action-end-btn {
        width: 100%;
        max-width: 100%;
    }
  }
  